* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.btn-brand {
  background-color: #003087;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.btn-brand:hover {
  background-color: rgba(0, 47, 135, 0.4784313725);
}

a.nav-link {
  color: white !important;
}

.home {
  background: url(../images/homeheader.png) no-repeat center center/cover;
}
.home nav {
  background: rgba(0, 47, 135, 0.4784313725);
}
.home nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.home nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home nav .logo img {
  width: 80px;
  height: 80px;
}
.home nav .logo h2 {
  color: white;
}
.home nav .nav-links {
  display: flex;
  align-items: center;
}
.home nav .nav-links li {
  list-style: none;
  margin: 0 1rem;
}
.home nav .nav-links li a {
  text-decoration: none;
  color: white;
}
.home nav .nav-links li a:hover {
  color: #003087;
}
.home section {
  display: grid;
  place-items: center;
  padding: 5rem;
}
.home section img {
  margin-bottom: 3rem;
}

.who-we-are-content-left {
  padding: 2rem;
}
.who-we-are-content-left h1 {
  color: #003087;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.8rem;
}
.who-we-are-content-right {
  background: linear-gradient(164deg, rgb(61, 68, 91) 0%, rgb(77, 105, 187) 100%);
  padding: 3rem 2rem;
  color: #fff;
  font-weight: 800;
  display: grid;
  place-items: center;
  height: 100%;
}

.our-achievements h1 {
  font-weight: 800;
  color: #cd0036;
  text-align: center;
}
.our-achievements-content-single {
  padding: 2rem;
}
.our-achievements-content-single h1 {
  font-weight: 800;
  color: #cd0036;
}
.our-achievements-content-single-footer {
  position: relative;
  background: rgba(0, 48, 135, 0.7);
  padding: 1rem;
  text-align: center;
  margin-top: -50px;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 15px;
}
.our-achievements-content-single-footer h4 {
  font-weight: 800;
  color: white;
  margin-bottom: 2rem;
}
.our-achievements-content-single-footer p {
  font-weight: 600;
  color: white;
  margin: 0 1rem;
}

footer {
  background: #003087;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .footer_area img {
  width: 100px;
  height: 100px;
}

.ourteams {
  background: url(../images/ourteambg.png) no-repeat center center/cover;
  background-size: cover;
  padding: 5rem 0;
}
.ourteams h1 {
  text-align: center;
  color: #003087;
  font-weight: 800;
  margin-bottom: 4rem;
}
.ourteams .our_teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  text-align: center;
}
.ourteams .our_teams_single_footer {
  background-color: #003087;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 1rem;
}
.ourteams .our_teams .btn_position {
  background-color: #cd0036;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: -10px;
  position: relative;
}

.teamspage nav {
  background: #003087;
}
.teamspage nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.teamspage nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.teamspage nav .logo img {
  width: 80px;
  height: 80px;
}
.teamspage nav .logo h2 {
  color: white;
}
.teamspage nav .nav-links {
  display: flex;
  align-items: center;
}
.teamspage nav .nav-links li {
  list-style: none;
  margin: 0 1rem;
}
.teamspage nav .nav-links li a {
  text-decoration: none;
  color: white;
}
.teamspage nav .nav-links li a:hover {
  color: #003087;
}

.tutorials h1 {
  font-weight: 800;
  color: #003087;
  margin-bottom: 1rem;
  text-align: center;
}
.tutorials .slider {
  position: relative;
  /* Hide the images by default */
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Container for image text */
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}
.tutorials .slider .mySlides {
  display: none;
}
.tutorials .slider .cursor {
  cursor: pointer;
}
.tutorials .slider .prev,
.tutorials .slider .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 47, 135, 0.4784313725);
}
.tutorials .slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.tutorials .slider .prev:hover,
.tutorials .slider .next:hover {
  background-color: #003087;
}
.tutorials .slider .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.tutorials .slider .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.tutorials .slider .row:after {
  content: "";
  display: table;
  clear: both;
}
.tutorials .slider .column {
  float: left;
  width: 16.66%;
}
.tutorials .slider .demo {
  opacity: 0.6;
}
.tutorials .slider .active,
.tutorials .slider .demo:hover {
  opacity: 1;
}

.outreach {
  background: url(../images/outrach.png) no-repeat center center/cover;
}
.outreach nav {
  background: rgba(0, 47, 135, 0.4784313725);
}
.outreach nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.outreach nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.outreach nav .logo img {
  width: 80px;
  height: 80px;
}
.outreach nav .logo h2 {
  color: white;
}
.outreach nav .nav-links {
  display: flex;
  align-items: center;
}
.outreach nav .nav-links li {
  list-style: none;
  margin: 0 1rem;
}
.outreach nav .nav-links li a {
  text-decoration: none;
  color: white;
}
.outreach nav .nav-links li a:hover {
  color: #003087;
}
.outreach section {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.outreach section h1 {
  font-weight: 800;
  color: #cd0036;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.outreach section .bg-50 {
  color: white;
  background: rgba(0, 47, 135, 0.4784313725);
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
